/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
html,
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  background: #f8f8f8;
  color: #555;
}
* {
  transition: 0.2s linear color, 0.2s linear background-color, 0.2s linear background-image, 0.2s linear border-color;
  -moz-transition: 0.2s linear color, 0.2s linear background-color, 0.2s linear background-image, 0.2s linear border-color;
  -webkit-transition: 0.2s linear color, 0.2s linear background-color, 0.2s linear background-image, 0.2s linear border-color;
}

a:hover {
  color: #89a;
}
ul.nobullet {
  list-style: none;
}
ul.nobullet li i {
  width: 16px;
  text-align: center;
}

.navbar {

  z-index: 1;
  text-align: center;
}
.navbar .navbar-brand {
  font-family: '宋体',Arial， sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}
.navbar .navbar-nav {
  float: right;
}
.navbar .navbar-nav a {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Microsoft YaHei';
}
.navbar .navbar-nav a:hover {
  background: inherit;
  opacity: 1;
}

.navbar .navbar-nav-foot {
  float: left;
}
.navbar .navbar-nav-foot a {
  color: #556173;
  font-size: 14px;
  opacity: .75;
  text-align: center;
}
.navbar .navbar-nav-foot a:hover {
  background: inherit;
  opacity: 1;
}
.navbar .navbar-nav-foot li{
  text-align: center;
    position: relative;
    display: inline-block;
	white-space:nowrap;
		}

td.center {
  display: table-cell;
}
a {
  color: #2C2F31;
  font-family: 'Microsoft YaHei';
  font-size: 18px;
}
a:hover {
  color: #89a;
}

#section-promo {
  text-align: center;
  position: relative;
}
#section-promo.homepage-promo {
}
#section-promo h1 {
  font-size: 30px;
    color: #eee;
  font-family: 'Microsoft YaHei';
  line-height: 10px;
  letter-spacing: 2px;
  text-shadow:0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
#section-promo h2 {
  font-size: 18px;
    color: #eee;
  font-family: 'Microsoft YaHei';
}
#section-promo img.central {
  margin: 0 auto;
  width: 100%;
  /*border-radius: 15px;*/
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75), 0 0 15px black;*/
}

#section-promo .copy {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  font-size: 10px;
  color: #888;
}
.border {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 70px;
  left: 25%;
    margin-bottom: 100px;
  background-color:#f6f6f6;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f6f6f6);
  background-image: -ms-linear-gradient(top, #f6f6f6, #f6f6f6);
  /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, rgba#f6f6f6));*/
  background-image: -webkit-linear-gradient(top, #f6f6f6,#f6f6f6);
  background-image: -o-linear-gradient(top, #f6f6f6, #f6f6f6);
  background-image: linear-gradient(top, #f6f6f6, #f6f6f6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f6f6f6', GradientType=0);
  opacity: 0.5;
  border-radius: 10px;

}
.font_location{
  position: absolute;
  bottom: 0;
  margin: 0 0px 280px 0px;
  color: #eee;
  font-family: 'Microsoft YaHei';
}
.font_location1{
  position: absolute;
  bottom: 0;
  margin: 0 0px 150px 0px;
  color: #eee;
  font-family: 'Microsoft YaHei';
}
.font_location p{
  font-size: 20px;
}
#section-promo .productbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: repeat-x;
  /*background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(64, 64, 64, 0.3)), to(rgba(0, 0, 0, 0.2)));*/
  background-image: -moz-linear-gradient(top, rgba(64, 64, 64, 0.3), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(64, 64, 64, 0.3), rgba(0, 0, 0, 0.2));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(64, 64, 64, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(top, rgba(64, 64, 64, 0.3), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(64, 64, 64, 0.3), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(64, 64, 64, 0.3), rgba(0, 0, 0, 0.2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(64, 64, 64, 0.3)', endColorstr='rgba(0, 0, 0, 0.2)', GradientType=0);
  background-color: transparent;
}
#section-promo .productbar li {
  display: inline-block;
}
#section-promo .productbar li img {
  margin: 0 10px 0 0;
}
#section-promo .productbar li a {
  width: 280px;
  text-decoration: none;
  text-align: left;
  color: #eee;
  height: 84px;
  cursor: pointer;
  position: relative;
  font-family: Roboto;
}
#section-promo .productbar li a img {
  float: left;
}
#section-promo .productbar li a .title {
  font-size: 20px;
  margin: 5px 0 0;
  font-family: 'Microsoft YaHei';
}
#section-promo .productbar li a .desc {
  font-size: 15px;
  font-weight: 100;
  font-family: 'Microsoft YaHei';
}
#section-promo .productbar li a .corner {
  display: none;
}
#section-promo .productbar li.active a,
#section-promo .productbar li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
#section-promo .productbar li.active a .corner {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 20px;
  z-index: 2;
  border-top: 10px solid #333;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}

.col-center-block {
    float: none;
    display: block;
     margin: -160px ;
}

.map{
  margin: auto 0;
  width: 90%;
  height: 511px;
}

@media (min-width: 1680px) {
  .border {
  width: 40%;
  left: 30%;
}
  #section-promo .productbar li a {
    width: 280px;
}
}

@media (max-width: 1366px) {
  .border {
  width: 54%;
  left: 23%;
}
   #section-promo .productbar li a {
    width: 280px;
}
        #section-promo .productbar li a .desc {
  font-size: 5px;
}
}

@media (max-width: 1280px) {
  .border {
  width: 54%;
  left: 23%;
}
     #section-promo .productbar li a {
    width: 210px;
}
     #section-promo .productbar li a .desc {
  font-size: 8px;
}
}

@media (max-width: 1024px) {
  .border {
  width: 55%;
  left: 23%;
}
#section-promo .productbar li a {
  width: 220px;
}
#section-promo .productbar li a .title {
  font-size: 10px;
}
#section-promo .productbar li a .desc {
  font-size: 5px;
}
}

@media (max-width: 768px) {
  .border {
  width: 59%;
  left: 21%;
}
#section-promo .productbar li a {
  width: 165px;
}

#section-promo .productbar li a .title {
  font-size: 10px;
}
#section-promo .productbar li a .desc {
  font-size: 8px;
}

}
@media (max-width: 640px) {
#section-promo .productbar li a {
  width: 120px;
  height: 90px;
}

#section-promo .productbar li a .title {
  font-size: 10px;
}
#section-promo .productbar li a .desc {
  font-size: 8px;

}
.navbar .navbar-brand {
  font-size: 12px;
}


}
@media (max-width: 480px) {
#section-promo .productbar li a {
  width: 120px;
  height: 95px;
}
#section-promo .productbar li a .title {
  font-size: 8px;
}
#section-promo .productbar li a .desc {
  font-size: 6px;
}
}