{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-Hans" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="robots" content="NONE,NOARCHIVE" />
  <title>增加 文献基础属性 | 喜马拉雅数据库</title>

  <link href="/static/xadmin/vendor/bootstrap/css/bootstrap.css" type="text/css" media="screen" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="/static/xadmin/css/themes/bootstrap-xadmin.css" />

  <link href="/static/xadmin/vendor/font-awesome/css/font-awesome.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/css/xadmin.main.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/css/xadmin.plugins.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/css/xadmin.responsive.css" type="text/css" media="screen" rel="stylesheet" />
  <link href="/static/xadmin/vendor/bootstrap-image-gallery/css/bootstrap-image-gallery.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/css/xadmin.form.css" type="text/css" media="screen" rel="stylesheet" />

{#    fuchuang#}
    <link href="/static/bootstrap-3.3.5/css/bootstrap.css" type="text/css" media="screen" rel="stylesheet" />
    <script type="text/javascript" src="/static/bootstrap-3.3.5/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
{#    fuchuang#}

  <script type="text/javascript" src="/static/xadmin/vendor/jquery/jquery.js"></script>


  <script type="text/javascript">
    window.__admin_media_prefix__ = "/static/xadmin/";
    window.__admin_path_prefix__ = "/xadmin/";
    window.__admin_language_code__ = "zh-Hans";
  </script>
  <script type="text/javascript" src="/xadmin/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
<script type="text/javascript">
    $.fn.serializeObject = function()
{
   var o = {};
   var a = this.serializeArray();
   $.each(a, function() {
       if (o[this.name]) {
           if (!o[this.name].push) {
               o[this.name] = [o[this.name]];
           }
           o[this.name].push(this.value || '');
       } else {
           o[this.name] = this.value || '';
       }
   });
   return o;
};
function change() {
    $("#sub").disabled = true;
    document.getElementById("view_form").submit();
}

{#    function change() {#}
{#        $(".modal-backdrop").css("display", "block");#}
{#        $(".modal-box").css("display", "block");#}
{#        var data = $("#view_form").serializeObject();#}
{#        data = JSON.stringify(data);#}
{#        var formData = new FormData($("#view_form")[0]);#}
{#        $.ajax({#}
{#          url: '.',#}
{#          type: 'POST',#}
{#          data: formData,#}
{#          async: false,#}
{#          cache: false,#}
{#          contentType: false,#}
{#          processData: false,#}
{#          success:function (content) {#}
{#            window.location.href=content;#}
{#          }#}
{#     }#}
{#        );#}
{#     function (content) {#}
{#            if (content==1)#}
{#            {#}
{#                   window.location = '/xadmin/himalaya/swfaddr/';   #}
{#            }#}
{#           #}
{#            else#}
{#            {#}
{#                window.location = '/xadmin/himalaya/filebaseinfo/';  #}
{#            }#}
{#        })#}
{#      ajaxPost('/xadmin/himalaya/swfaddr/', {"data":formData,'flage':flage,'path':path,'dynamic':dynamic},function (content) {#}
{#      });#}
{#  }#}

</script>
    <style>
    html, body, div, a{ margin: 0; padding: 0;}
    .container{ text-align: center;}

    /* 弹出框背景蒙板 */
    .modal-backdrop{ display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: #000; opacity: .8; z-index: 1000;}

    /* 弹出框 */
    .modal-box{ display: none; position: fixed; top: 50%; margin-top: -100px; left: 50%; margin-left: -250px; text-align: center; width: 500px; height: 200px; background-color: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; z-index:1100;}
    .modal-box .box-title{ margin: 40px 0; font-size: 18px; color: #000;}
    .modal-box .box-btn-sure{ display: block; margin: 0 auto; width: 200px; height: 50px; line-height:50px; font-size: 14px; color: #fff; background-color: #FD460D; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}

    </style>
        <style>
        .error_msg{
            color: red;
        }
    </style>
</head>
<body class="himalaya-filebaseinfo change-form">

  <!-- Header -->

  <div id="top-nav" class="navbar navbar-xs navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">喜马拉雅数据库</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">




<li class="dropdown g-add">
  <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
  <i class="fa fa-plus"></i> <span class="hide-sm">增加 <i class="caret"></i></span></a>
  <ul id="g-add-menu" class="dropdown-menu" role="menu">

        <li><a href="/xadmin/himalaya/fileextendinfo/add/"><i class="fa fa-plus"></i> 增加 专题文献库</a></li>

        <li><a href="/xadmin/himalaya/format/add/"><i class="fa fa-plus"></i> 增加 格式类型</a></li>

        <li><a href="/xadmin/himalaya/filebaseinfo/add/"><i class="fa fa-plus"></i> 增加 文献基础属性</a></li>

        <li><a href="/xadmin/himalaya/subject/add/"><i class="fa fa-plus"></i> 增加 文献专题</a></li>

        <li><a href="/xadmin/himalaya/view/add/"><i class="fa fa-plus"></i> 增加 全景</a></li>

        <li><a href="/xadmin/himalaya/spacescope/add/"><i class="fa fa-plus"></i> 增加 空间范围</a></li>

        <li><a href="/xadmin/himalaya/category/add/"><i class="fa fa-plus"></i> 增加 分类属性</a></li>

        <li><a href="/xadmin/auth/user/add/"><i class="fa fa-plus"></i> 增加 用户</a></li>

        <li><a href="/xadmin/himalaya/filetype/add/"><i class="fa fa-plus"></i> 增加 文件类型</a></li>

        <li><a href="/xadmin/himalaya/language/add/"><i class="fa fa-plus"></i> 增加 语言</a></li>

        <li><a href="/xadmin/himalaya/subjecttheme/add/"><i class="fa fa-plus"></i> 增加 专题文献属性</a></li>

        <li><a href="/xadmin/himalaya/discipline/add/"><i class="fa fa-plus"></i> 增加 学科类型</a></li>

        <li><a href="/xadmin/xadmin/bookmark/add/"><i class="fa fa-plus"></i> 增加 书签</a></li>

  </ul>
</li>




          <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            <strong>欢迎， xadmin</strong> <span class="caret"></span></a>
            <ul id="g-account-menu" class="dropdown-menu" role="menu">
              <li><a href="/xadmin/account/password/"><i class="fa fa-key"></i> 更改密码</a></li>
            </ul>
          </li>

        <li><a href="/xadmin/logout/"><i class="show-sm fa fa-sign-out"></i><span class="hide-sm">注销</span></a></li>
      </ul>



<form method="get" class="top-search-form navbar-form navbar-left" id="g-search">
  <div class="input-group">
    <input name="_q_" class="form-control" type="text">
    <span class="input-group-btn">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-search"></i> 搜索 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">

          <li><a data-action="/xadmin/himalaya/fileextendinfo/"><i class="fa fa-search"></i> 搜索专题文献库</a></li>

          <li><a data-action="/xadmin/himalaya/format/"><i class="fa fa-search"></i> 搜索格式类型</a></li>

          <li><a data-action="/xadmin/himalaya/filebaseinfo/"><i class="fa fa-search"></i> 搜索文献基础属性</a></li>

          <li><a data-action="/xadmin/himalaya/subject/"><i class="fa fa-search"></i> 搜索文献专题</a></li>

          <li><a data-action="/xadmin/himalaya/view/"><i class="fa fa-search"></i> 搜索全景</a></li>

          <li><a data-action="/xadmin/himalaya/spacescope/"><i class="fa fa-search"></i> 搜索空间范围</a></li>

          <li><a data-action="/xadmin/himalaya/category/"><i class="fa fa-search"></i> 搜索分类属性</a></li>

          <li><a data-action="/xadmin/auth/user/"><i class="fa fa-search"></i> 搜索用户</a></li>

          <li><a data-action="/xadmin/himalaya/filetype/"><i class="fa fa-search"></i> 搜索文件类型</a></li>

          <li><a data-action="/xadmin/himalaya/language/"><i class="fa fa-search"></i> 搜索语言</a></li>

          <li><a data-action="/xadmin/himalaya/subjecttheme/"><i class="fa fa-search"></i> 搜索专题文献属性</a></li>

          <li><a data-action="/xadmin/himalaya/discipline/"><i class="fa fa-search"></i> 搜索学科类型</a></li>

      </ul>
    </span>
  </div>
</form>




    </div>
  </div>

  <div id="body-content" class="clearfix row">
    <div id="left-side" class="col-sm-1 col-md-2">






<div class="panel-group hide-sm nav-sitemenu col-md-2" id="nav-accordion">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">0</span>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion" href="#nav-panel-1">
          <a href="/xadmin" class="section">
          <i class="fa-fw fa fa-laptop"></i>

          首页
          </a>
        </a>
      </h6>
    </div>
    <div id="nav-panel-1" class="list-group panel-collapse collapse in">

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">0</span>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion" href="#nav-panel-2">
          <a href="/xadmin/auth/user/" class="section">
          <i class="fa-fw fa fa-list-ol"></i>

          用户管理
          </a>
        </a>
      </h6>
    </div>
    <div id="nav-panel-2" class="list-group panel-collapse collapse">

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">6</span>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion" href="#nav-panel-3">

          <i class="fa-fw fa fa-list-ol"></i>

          基础数据管理

        </a>
      </h6>
    </div>
    <div id="nav-panel-3" class="list-group panel-collapse collapse">

      <a href="/xadmin/himalaya/filetype/" class="list-group-item">
        <i class="fa-fw fa fa-link"></i>
        文件类型设置</span>
      </a>

      <a href="/xadmin/himalaya/spacescope/" class="list-group-item">
        <i class="fa-fw fa fa-link"></i>
        空间范围设置</span>
      </a>

      <a href="/xadmin/himalaya/language/" class="list-group-item">
        <i class="fa-fw fa fa-link"></i>
        语言类型设置</span>
      </a>

      <a href="/xadmin/himalaya/discipline/" class="list-group-item">
        <i class="fa-fw fa fa-link"></i>
        文件学科设置</span>
      </a>

      <a href="/xadmin/himalaya/format/" class="list-group-item">
        <i class="fa-fw fa fa-link"></i>
        文件格式设置</span>
      </a>

      <a href="/xadmin/himalaya/category/" class="list-group-item">
        <i class="fa-fw fa fa-link"></i>
        专题枚举数据</span>
      </a>

    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">3</span>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion" href="#nav-panel-4">

          <i class="fa-fw fa fa-list-ol"></i>

          其他管理

        </a>
      </h6>
    </div>
    <div id="nav-panel-4" class="list-group panel-collapse collapse in">

      <a href="/xadmin/himalaya/subject/" class="list-group-item">
        <i class="fa-fw fa fa-link"></i>
        专题项目管理</span>
      </a>

      <a href="/xadmin/himalaya/filebaseinfo/" class="list-group-item active">
        <i class="fa-fw fa fa-link"></i>
        文献资源管理</span>
      </a>

      <a href="/xadmin/himalaya/view/" class="list-group-item">
        <i class="fa-fw fa fa-link"></i>
        全景资源管理</span>
      </a>

    </div>
  </div>

</div>



  <ul class="well nav nav-list nav-sitemenu show-sm">
    <li class="app_menu">
      <a href="/xadmin/"><i class="icon fa-fw fa fa-home"></i></a><hr/>
    </li>

      <li class="app_menu dropdown-submenu  active">
        <a href="#" class="section">
          <i class="icon fa-fw fa fa-laptop"></i>

        </a><hr/>
        <ul class="dropdown-menu">

        </ul>
      </li>

      <li class="app_menu dropdown-submenu ">
        <a href="#" class="section">
          <i class="icon fa-fw fa fa-list-ol"></i>

        </a><hr/>
        <ul class="dropdown-menu">

        </ul>
      </li>

      <li class="app_menu dropdown-submenu ">
        <a href="#" class="section">
          <i class="icon fa-fw fa fa-list-ol"></i>

        </a><hr/>
        <ul class="dropdown-menu">

          <li>
            <a href="/xadmin/himalaya/filetype/">
            <i class="fa-fw fa fa-link"></i>
            文件类型设置</span></a>
          </li>

          <li>
            <a href="/xadmin/himalaya/spacescope/">
            <i class="fa-fw fa fa-link"></i>
            空间范围设置</span></a>
          </li>

          <li>
            <a href="/xadmin/himalaya/language/">
            <i class="fa-fw fa fa-link"></i>
            语言类型设置</span></a>
          </li>

          <li>
            <a href="/xadmin/himalaya/discipline/">
            <i class="fa-fw fa fa-link"></i>
            文件学科设置</span></a>
          </li>

          <li>
            <a href="/xadmin/himalaya/format/">
            <i class="fa-fw fa fa-link"></i>
            文件格式设置</span></a>
          </li>

          <li>
            <a href="/xadmin/himalaya/category/">
            <i class="fa-fw fa fa-link"></i>
            专题枚举数据</span></a>
          </li>

        </ul>
      </li>

      <li class="app_menu dropdown-submenu  active">
        <a href="#" class="section">
          <i class="icon fa-fw fa fa-list-ol"></i>

        </a><hr/>
        <ul class="dropdown-menu">

          <li>
            <a href="/xadmin/himalaya/subject/">
            <i class="fa-fw fa fa-link"></i>
            专题项目管理</span></a>
          </li>

          <li class="active">
            <a href="/xadmin/himalaya/filebaseinfo/">
            <i class="fa-fw fa fa-link"></i>
            文献资源管理</span></a>
          </li>

          <li>
            <a href="/xadmin/himalaya/view/">
            <i class="fa-fw fa fa-link"></i>
            全景资源管理</span></a>
          </li>

        </ul>
      </li>


  </ul>





    </div>



    <div id="content-block" class="col-sm-11 col-md-10"  style="min-height: 600px">

        <ul class="breadcrumb">


            <li>
                <a href="/xadmin/">首页</a>
            </li>

            <li>
                <a href="/xadmin/himalaya/view/">文献属性</a>
            </li>

            <li>
                增加 文献属性

            </li>


        </ul>


        <div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint"
             data-class-xs="navbar content-navbar navbar-inverse navbar-xs"
             data-class-sm="navbar content-navbar navbar-default navbar-xs">
            <div class="navbar-header">


                <button type="button" class="navbar-toggle pull-left" onclick="javascript: history.back();"><i
                        class="fa fa-arrow-left"></i></button>


                <a class="navbar-brand" data-toggle="collapse" data-target="#top-nav .navbar-collapse">
                    批量上传
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                </ul>


                <div class="navbar-btn pull-right hide-xs">


                </div>
            </div>
        </div>



        {% if form.errors %}
            <ul>
                {% for error in form.errors %}
                    <li><strong>{{ error }}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}

        <form class="exform" action="." method="post" id="view_form" name="swfupload" enctype="multipart/form-data">
       {% csrf_token %}
        <input type="hidden" id="flage" value = '{{ flage | safe }}' />
        <input type="hidden" id="path" value='{{ path }}' />
        <input type="hidden" id="dynamic" value='{{ dynamic }}' />
        <input type='hidden' name='csrfmiddlewaretoken' value='iOM352X7DKSmlSdLcOk1RRQSKWrSctaC'/>

            <input type='hidden' id='_portal_key' value='himalaya_view_editform_portal'/>

                <input type='hidden' name='csrfmiddlewaretoken' value='iOM352X7DKSmlSdLcOk1RRQSKWrSctaC'/>
                <div
                        class="form-container row clearfix">
                    <div id="column-0"
                         class="formColumn column form-column full col col-sm-12 form-horizontal" horizontal="True"
                         span="12">
                            <div id="column-0"
                             class="formColumn column form-column full col col-sm-12 form-horizontal" horizontal="True"
                             span="12">
                            <h3 style="color: #761c19">基础属性</h3>
                            {% for field in basicform %}
                                 <div id="div_id_contentLength" class="form-group"><label for="id_contentLength"
                                                                                         class="control-label ">

                                        {{ field.label_tag|cut:":" }}
                                </label>
                                    <div class="controls ">
                                            {{ field }}{{ field.errors }}
                                    <font color="red">{{ field.help_text }}</font>
                                    </div>
                                </div>
                            {% endfor %}
                            <h3 style="color: #761c19">扩展属性</h3>
                            {% for field in extendform %}
                                 <div id="div_id_contentLength" class="form-group"><label for="id_contentLength"
                                                                                         class="control-label ">

                                        {{ field.label_tag|cut:":" }}
                                </label>
                                    <div class="controls ">
                                            {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
{#                            <div id="div_id_contentLength" class="form-group"><label for="id_contentLength"#}
{#                                                                                         class="control-label ">#}
{##}
{#                                        <label for="images">缩略图</label>#}
{#                                </label>#}
{#                                    <div class="controls ">#}
{#                                            <input id="images" name="images" type="file" />#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                 <div id="div_id_contentLength" class="form-group"><label for="id_contentLength"#}
{#                                                                                         class="control-label ">#}
{##}
{#                                        <label for="files">附件</label>#}
{#                                </label>#}
{#                                    <div class="controls ">#}
{#                                            <input id="files" name="files" type="file"/>#}
{#                                    </div>#}
{#                                </div>#}
                        </div>
                    </div>


                </div>

            <div class="form-actions well well-sm clearfix" >
{#                <input type="button" id="swfupload"  class="btn btn-default" name="_addanother" data-toggle="modal" data-target="#myModal" value="上传" onclick="change()"/>#}
{#                <input type="button" id="sub" value="上传" onclick="{this.disabled =true;document.getElementById('view_form').submit();}">#}
                <input type="submit" id="sub" value="上传">
{#                  $("#sub").disabled = true;#}
{#    document.getElementById("view_form").submit();  #}
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#                    <div class="modal-dialog">#}
{#                        <div class="modal-content">#}
{#                            <div class="modal-header">#}
{#                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">#}
{#                                </button>#}
{#                                <h4 class="modal-title" id="myModalLabel">#}
{#                                    系统正在处理.........#}
{#                                </h4>#}
{#                            </div>#}
{#                            <div class="modal-body">#}
{#</div>#}
{#                            </div>#}
{#                        </div><!-- /.modal-content -->#}
{#                    </div><!-- /.modal -->#}
                        <div class="modal-backdrop"></div>
        <div class="modal-box">
            <div class="box-title">系统正在处理.........</div>
        </div>
            </div>
</div>
        </form>

    </div>
</div>


<div id="footer">
    <hr/>
    <footer class="text-center">
        <p>&copy; SiChuan University.</p>
    </footer>
</div>


<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.sortable.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.main.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.responsive.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.effect.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.themes.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/load-image/load-image.js"></script>
<script type="text/javascript"
        src="/static/xadmin/vendor/bootstrap-image-gallery/js/bootstrap-image-gallery.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.portal.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.widget.datetime.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.page.form.js"></script>


<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-image"><h1 class="loader"><i class="fa-spinner fa-spin fa fa-large loader"></i></h1>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info modal-prev"><i class="fa fa-arrow-left"></i> <span>上一个</span></a>
                <a class="btn btn-primary modal-next"><span>下一个</span> <i class="fa fa-arrow-right"></i></a>
                <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="fa fa-play"></i>
                    <span>幻灯片</span></a>
                <a class="btn btn-default modal-download" target="_blank"><i class="fa fa-download"></i> <span>下载</span></a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

</body>
</html>
