<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="robots" content="NONE,NOARCHIVE"/>
    <title>增加 文献基础属性 | 喜马拉雅数据库</title>

    <link href="/static/xadmin/vendor/bootstrap/css/bootstrap.css" type="text/css" media="screen" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="/static/xadmin/css/themes/bootstrap-xadmin.css"/>

    <link href="/static/xadmin/vendor/font-awesome/css/font-awesome.css" type="text/css" media="screen"
          rel="stylesheet"/>
    <link href="/static/xadmin/css/xadmin.main.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="/static/xadmin/css/xadmin.plugins.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="/static/xadmin/css/xadmin.responsive.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="/static/xadmin/vendor/bootstrap-image-gallery/css/bootstrap-image-gallery.css" type="text/css"
          media="screen" rel="stylesheet"/>
    <link href="/static/xadmin/css/xadmin.form.css" type="text/css" media="screen" rel="stylesheet"/>

    <script type="text/javascript" src="/static/xadmin/vendor/jquery/jquery.js"></script>

    <script type="text/javascript">
        window.__admin_media_prefix__ = "/static/xadmin/";
        window.__admin_path_prefix__ = "/xadmin/";
        window.__admin_language_code__ = "zh-Hans";
    </script>
    <script type="text/javascript" src="/xadmin/jsi18n/"></script>


</head>
<body class="himalaya-filebaseinfo change-form">

<!-- Header -->

<div id="top-nav" class="navbar navbar-xs navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">喜马拉雅数据库</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">


            <li class="dropdown g-add">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus"></i> <span class="hide-sm">增加 <i class="caret"></i></span></a>
                <ul id="g-add-menu" class="dropdown-menu" role="menu">

                    <li><a href="/xadmin/himalaya/fileextendinfo/add/"><i class="fa fa-plus"></i> 增加 专题文献库</a></li>

                    <li><a href="/xadmin/himalaya/format/add/"><i class="fa fa-plus"></i> 增加 格式类型</a></li>

                    <li><a href="/xadmin/himalaya/filebaseinfo/add/"><i class="fa fa-plus"></i> 增加 文献基础属性</a></li>

                    <li><a href="/xadmin/himalaya/subject/add/"><i class="fa fa-plus"></i> 增加 文献专题</a></li>

                    <li><a href="/xadmin/himalaya/view/add/"><i class="fa fa-plus"></i> 增加 全景</a></li>

                    <li><a href="/xadmin/himalaya/spacescope/add/"><i class="fa fa-plus"></i> 增加 空间范围</a></li>

                    <li><a href="/xadmin/himalaya/category/add/"><i class="fa fa-plus"></i> 增加 分类属性</a></li>

                    <li><a href="/xadmin/auth/user/add/"><i class="fa fa-plus"></i> 增加 用户</a></li>

                    <li><a href="/xadmin/himalaya/filetype/add/"><i class="fa fa-plus"></i> 增加 文件类型</a></li>

                    <li><a href="/xadmin/himalaya/language/add/"><i class="fa fa-plus"></i> 增加 语言</a></li>

                    <li><a href="/xadmin/himalaya/subjecttheme/add/"><i class="fa fa-plus"></i> 增加 专题文献属性</a></li>

                    <li><a href="/xadmin/himalaya/discipline/add/"><i class="fa fa-plus"></i> 增加 学科类型</a></li>

                    <li><a href="/xadmin/xadmin/bookmark/add/"><i class="fa fa-plus"></i> 增加 书签</a></li>

                </ul>
            </li>


            <li class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                    <strong>欢迎， xadmin</strong> <span class="caret"></span></a>
                <ul id="g-account-menu" class="dropdown-menu" role="menu">
                    <li><a href="/xadmin/account/password/"><i class="fa fa-key"></i> 更改密码</a></li>
                </ul>
            </li>

            <li><a href="/xadmin/logout/"><i class="show-sm fa fa-sign-out"></i><span class="hide-sm">注销</span></a></li>
        </ul>


        <form method="get" class="top-search-form navbar-form navbar-left" id="g-search">
            <div class="input-group">
                <input name="_q_" class="form-control" type="text">
    <span class="input-group-btn">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-search"></i> 搜索 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">

          <li><a data-action="/xadmin/himalaya/fileextendinfo/"><i class="fa fa-search"></i> 搜索专题文献库</a></li>

          <li><a data-action="/xadmin/himalaya/format/"><i class="fa fa-search"></i> 搜索格式类型</a></li>

          <li><a data-action="/xadmin/himalaya/filebaseinfo/"><i class="fa fa-search"></i> 搜索文献基础属性</a></li>

          <li><a data-action="/xadmin/himalaya/subject/"><i class="fa fa-search"></i> 搜索文献专题</a></li>

          <li><a data-action="/xadmin/himalaya/view/"><i class="fa fa-search"></i> 搜索全景</a></li>

          <li><a data-action="/xadmin/himalaya/spacescope/"><i class="fa fa-search"></i> 搜索空间范围</a></li>

          <li><a data-action="/xadmin/himalaya/category/"><i class="fa fa-search"></i> 搜索分类属性</a></li>

          <li><a data-action="/xadmin/auth/user/"><i class="fa fa-search"></i> 搜索用户</a></li>

          <li><a data-action="/xadmin/himalaya/filetype/"><i class="fa fa-search"></i> 搜索文件类型</a></li>

          <li><a data-action="/xadmin/himalaya/language/"><i class="fa fa-search"></i> 搜索语言</a></li>

          <li><a data-action="/xadmin/himalaya/subjecttheme/"><i class="fa fa-search"></i> 搜索专题文献属性</a></li>

          <li><a data-action="/xadmin/himalaya/discipline/"><i class="fa fa-search"></i> 搜索学科类型</a></li>

      </ul>
    </span>
            </div>
        </form>


    </div>
</div>

<div id="body-content" class="clearfix row">
    <div id="left-side" class="col-sm-1 col-md-2">


        <div class="panel-group hide-sm nav-sitemenu col-md-2" id="nav-accordion">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <span class="badge badge-info">0</span>
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-1">
                            <a href="/xadmin" class="section">
                                <i class="fa-fw fa fa-laptop"></i>

                                首页
                            </a>
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-1" class="list-group panel-collapse collapse in">

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <span class="badge badge-info">0</span>
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-2">
                            <a href="/xadmin/auth/user/" class="section">
                                <i class="fa-fw fa fa-list-ol"></i>

                                用户管理
                            </a>
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-2" class="list-group panel-collapse collapse">

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <span class="badge badge-info">6</span>
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-3">

                            <i class="fa-fw fa fa-list-ol"></i>

                            基础数据管理

                        </a>
                    </h6>
                </div>
                <div id="nav-panel-3" class="list-group panel-collapse collapse">

                    <a href="/xadmin/himalaya/filetype/" class="list-group-item">
                        <i class="fa-fw fa fa-link"></i>
                        文件类型设置</span>
                    </a>

                    <a href="/xadmin/himalaya/spacescope/" class="list-group-item">
                        <i class="fa-fw fa fa-link"></i>
                        空间范围设置</span>
                    </a>

                    <a href="/xadmin/himalaya/language/" class="list-group-item">
                        <i class="fa-fw fa fa-link"></i>
                        语言类型设置</span>
                    </a>

                    <a href="/xadmin/himalaya/discipline/" class="list-group-item">
                        <i class="fa-fw fa fa-link"></i>
                        文件学科设置</span>
                    </a>

                    <a href="/xadmin/himalaya/format/" class="list-group-item">
                        <i class="fa-fw fa fa-link"></i>
                        文件格式设置</span>
                    </a>

                    <a href="/xadmin/himalaya/category/" class="list-group-item">
                        <i class="fa-fw fa fa-link"></i>
                        专题枚举数据</span>
                    </a>

                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <span class="badge badge-info">3</span>
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-4">

                            <i class="fa-fw fa fa-list-ol"></i>

                            其他管理

                        </a>
                    </h6>
                </div>
                <div id="nav-panel-4" class="list-group panel-collapse collapse in">

                    <a href="/xadmin/himalaya/subject/" class="list-group-item">
                        <i class="fa-fw fa fa-link"></i>
                        专题项目管理</span>
                    </a>

                    <a href="/xadmin/himalaya/filebaseinfo/" class="list-group-item active">
                        <i class="fa-fw fa fa-link"></i>
                        文献资源管理</span>
                    </a>

                    <a href="/xadmin/himalaya/view/" class="list-group-item">
                        <i class="fa-fw fa fa-link"></i>
                        全景资源管理</span>
                    </a>

                </div>
            </div>

        </div>


        <ul class="well nav nav-list nav-sitemenu show-sm">
            <li class="app_menu">
                <a href="/xadmin/"><i class="icon fa-fw fa fa-home"></i></a>
                <hr/>
            </li>

            <li class="app_menu dropdown-submenu  active">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-laptop"></i>

                </a>
                <hr/>
                <ul class="dropdown-menu">

                </ul>
            </li>

            <li class="app_menu dropdown-submenu ">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-list-ol"></i>

                </a>
                <hr/>
                <ul class="dropdown-menu">

                </ul>
            </li>

            <li class="app_menu dropdown-submenu ">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-list-ol"></i>

                </a>
                <hr/>
                <ul class="dropdown-menu">

                    <li>
                        <a href="/xadmin/himalaya/filetype/">
                            <i class="fa-fw fa fa-link"></i>
                            文件类型设置</a>
                    </li>

                    <li>
                        <a href="/xadmin/himalaya/spacescope/">
                            <i class="fa-fw fa fa-link"></i>
                            空间范围设置</a>
                    </li>

                    <li>
                        <a href="/xadmin/himalaya/language/">
                            <i class="fa-fw fa fa-link"></i>
                            语言类型设置</a>
                    </li>

                    <li>
                        <a href="/xadmin/himalaya/discipline/">
                            <i class="fa-fw fa fa-link"></i>
                            文件学科设置</a>
                    </li>

                    <li>
                        <a href="/xadmin/himalaya/format/">
                            <i class="fa-fw fa fa-link"></i>
                            文件格式设置</a>
                    </li>

                    <li>
                        <a href="/xadmin/himalaya/category/">
                            <i class="fa-fw fa fa-link"></i>
                            专题枚举数据</a>
                    </li>

                </ul>
            </li>

            <li class="app_menu dropdown-submenu  active">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-list-ol"></i>

                </a>
                <hr/>
                <ul class="dropdown-menu">

                    <li>
                        <a href="/xadmin/himalaya/subject/">
                            <i class="fa-fw fa fa-link"></i>
                            专题项目管理</a>
                    </li>

                    <li class="active">
                        <a href="/xadmin/himalaya/filebaseinfo/">
                            <i class="fa-fw fa fa-link"></i>
                            文献资源管理</a>
                    </li>

                    <li>
                        <a href="/xadmin/himalaya/view/">
                            <i class="fa-fw fa fa-link"></i>
                            全景资源管理</a>
                    </li>

                </ul>
            </li>


        </ul>


    </div>


    <div id="content-block" class="col-sm-11 col-md-10" style="min-height: 600px">

        <ul class="breadcrumb">


            <li>
                <a href="/xadmin/">首页</a>
            </li>

            <li>
                <a href="/xadmin/himalaya/filebaseinfo/">文献基础属性</a>
            </li>

            <li>
                {{ form.title }}

            </li>


        </ul>


        <div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint"
             data-class-xs="navbar content-navbar navbar-inverse navbar-xs"
             data-class-sm="navbar content-navbar navbar-default navbar-xs">
            <div class="navbar-header">


                <button type="button" class="navbar-toggle pull-left" onclick="javascript: history.back();"><i
                        class="fa fa-arrow-left"></i></button>


                {% if sujectidd == -1 %}

                    <a class="navbar-brand" data-toggle="collapse" data-target="#top-nav .navbar-collapse">
                        修改 文献基础属性
                    </a>
                {% else %}
                    <a class="navbar-brand">
                        第一步：修改 文献基础属性
                    </a>
                    <a class="navbar-brand">
                        点击下一步：修改 文献专题属性
                    </a>
                {% endif %}
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                </ul>


                <div class="navbar-btn pull-right hide-xs">


                </div>

            </div>

        </div>


        <form class="exform" enctype="multipart/form-data" action="" method="post" id="filebaseinfo_form"><input
                type='hidden' name='csrfmiddlewaretoken' value='PEPL3zPVWqgyb4nq4ADMxRpdDV5o1kEB'/>

            <input type='hidden' id='_portal_key' value='himalaya_filebaseinfo_editform_portal'/>


            <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">


                <input type='hidden' name='csrfmiddlewaretoken' value='PEPL3zPVWqgyb4nq4ADMxRpdDV5o1kEB'/>
                <div
                        class="form-container row clearfix">
                    <div id="column-0"
                         class="formColumn column form-column full col col-sm-12 form-horizontal" horizontal="True"
                         span="12">
                        <div class="panel panel-default fieldset unsort no_title" id="box-0">
                            <div class="panel-heading"><i class='icon fa fa-chevron-up chevron'></i>
                                <h3 class="panel-title"></h3></div>
                            <div class="panel-body ">
                                <div id="div_id_filecode" class="form-group"><label for="id_filecode"
                                                                                    class="control-label ">
                                    文献编号
                                </label>
                                    <div class="controls "><input class="text-field admintextinputwidget form-control"
                                                                  id="id_filecode" maxlength="30" name="filecode"
                                                                  type="text" value="{{ form.filecode }}"/></div>
                                </div>
                                <div id="div_id_title" class="form-group"><label for="id_title"
                                                                                 class="control-label  requiredField">
                                    文献名称<span class="asteriskField">*</span> </label>
                                    <div class="controls "><input required ="required"
                                                                  class="text-field admintextinputwidget form-control"
                                                                  id="id_title" maxlength="200" name="title" type="text"
                                                                  value="{{ form.title }}"/></div>
                                </div>
                                <div id="div_id_creator" class="form-group"><label for="id_creator"
                                                                                   class="control-label  requiredField">
                                    作者/编者 </label>
                                    <div class="controls "><input
                                                                  class="text-field admintextinputwidget form-control"
                                                                  id="id_creator" maxlength="300" name="creator"
                                                                  type="text" value="{{ form.creator }}"/></div>
                                </div>
                                <div id="div_id_keywords" class="form-group"><label for="id_keywords"
                                                                                    class="control-label  requiredField">
                                    关键词 </label>
                                    <div class="controls "><input
                                                                  class="text-field admintextinputwidget form-control"
                                                                  id="id_keywords" maxlength="100" name="keywords"
                                                                  type="text" value="{{ form.keywords }}"/>
                                        <p id="hint_id_keywords" class="help-block">关键词请用分号（;）隔开</p></div>
                                </div>
                                <div id="div_id_description" class="form-group"><label for="id_description"
                                                                                       class="control-label ">
                                    内容简介
                                </label>
                                    <div class="controls "> <textarea
                                            class="textarea-field admintextareawidget form-control" cols="40"
                                            id="id_description" name="description" rows="10">{{ form.description }}
</textarea></div>
                                </div>
                                <div id="div_id_publisher" class="form-group"><label for="id_publisher"
                                                                                     class="control-label  requiredField">
                                    来源 </label>
                                    <div class="controls "><input
                                                                  class="text-field admintextinputwidget form-control"
                                                                  id="id_publisher" maxlength="200" name="publisher"
                                                                  type="text" value="{{ form.publisher }}"/></div>
                                </div>
                                <div id="div_id_fileType" class="form-group"><label for="id_fileType"
                                                                                    class="control-label  requiredField">
                                    文件类型</label>
                                    <div class="controls ">
                                        <div class="control-wrap" id="id_fileType_wrap_container"><select
                                                multiple="multiple" class="select-multi" id="id_fileType"
                                                name="fileType" >
                                            {% for val,name in ftchoice %}
                                                <option {% for id in form.fileType.values_list %}
                                                    {% ifequal id.0 val %}
                                                        selected="selected"
                                                    {% endifequal %}
                                                {% endfor %}
                                                        style="width:250px;height: 28px" value="{{ val }}">{{ name }}
                                            {% endfor %}
                                        </select>
                                        </div>
                                        <p id="hint_id_fileType" class="help-block">多选按Ctril键</p></div>
                                </div>
                                <div id="div_id_language" class="form-group"><label for="id_language"
                                                                                    class="control-label  requiredField">
                                    语 言 </label>
                                    <div class="controls ">
                                        <div class="control-wrap" id="id_fileType_wrap_container"><select
                                                multiple="multiple" class="select-multi" id="id_fileType"
                                                name="language" >
                                            {% for val,name in lanchoice %}
                                                <option {% for id in  form.language.values_list %}
                                                    {% ifequal id.0 val %}
                                                        selected="selected"
                                                    {% endifequal %}
                                                {% endfor %}
                                                        style="width:250px;height: 28px" value="{{ val }}">{{ name }}
                                            {% endfor %}
                                        </select>
                                        </div>
                                        <p id="hint_id_language" class="help-block">多选按Ctril键</p></div>
                                </div>
                                <div id="div_id_discipline" class="form-group"><label for="id_discipline"
                                                                                      class="control-label  requiredField">
                                    学 科</label>
                                    <div class="controls ">
                                        <div class="control-wrap" id="id_fileType_wrap_container"><select
                                                multiple="multiple" class="select-multi" id="id_fileType"
                                                name="discipline" >
                                            {% for val,name in dischoice %}
                                                <option {% for id in  form.discipline.values_list %}
                                                    {% ifequal id.0 val %}
                                                        selected="selected"
                                                    {% endifequal %}
                                                {% endfor %}
                                                        style="width:250px;height: 28px" value="{{ val }}">{{ name }}
                                            {% endfor %}
                                        </select>
                                        </div>
                                        <p id="hint_id_discipline" class="help-block">多选按Ctril键</p></div>
                                </div>
                                <div id="div_id_spatial" class="form-group"><label for="id_spatial"
                                                                                   class="control-label  requiredField">
                                    空间范围 </label>
                                    <div class="controls ">
                                        <div class="control-wrap" id="id_fileType_wrap_container"><select
                                                multiple="multiple" class="select-multi" id="id_fileType"
                                                name="spatial" >
                                            {% for val,name in sschoice %}
                                                <option {% for id in  form.spatial.values_list %}
                                                    {% ifequal id.0 val %}
                                                        selected="selected"
                                                    {% endifequal %}
                                                {% endfor %}
                                                        style="width:250px;height: 28px" value="{{ val }}">{{ name }}
                                            {% endfor %}
                                        </select>
                                        </div>
                                        <p id="hint_id_spatial" class="help-block">多选按Ctril键</p></div>
                                </div>
                                <div id="div_id_fileFormat" class="form-group"><label for="id_fileFormat"
                                                                                      class="control-label  requiredField">
                                    格式 </label>
                                    <div class="controls ">
                                        <div class="control-wrap" id="id_fileType_wrap_container"><select
                                                multiple="multiple" class="select-multi" id="id_fileType"
                                                name="fileFormat" >
                                            {% for val,name in forchoice %}
                                                <option {% for id in  form.fileFormat.values_list %}
                                                    {% ifequal id.0 val %}
                                                        selected="selected"
                                                    {% endifequal %}
                                                {% endfor %}
                                                        style="min-width:250px;height: 28px" value="{{ val }}">{{ name }}
                                            {% endfor %}
                                        </select>
                                        </div>
                                        <p id="hint_id_fileFormat" class="help-block">多选按Ctril键</p></div>
                                </div>
                                <div id="div_id_contributor" class="form-group"><label for="id_contributor"
                                                                                       class="control-label ">
                                    译者/校订者
                                </label>
                                    <div class="controls "><input class="text-field admintextinputwidget form-control"
                                                                  id="id_contributor" maxlength="200" name="contributor"
                                                                  type="text" value="{{ form.contributor }}"/></div>
                                </div>
                                {#                                <div id="div_id_pubDate" class="form-group"><label for="id_pubDate"#}
                                {#                                                                                   class="control-label  requiredField">#}
                                {#                                    出版时间<span class="asteriskField">*</span> </label>#}
                                {#                                    <div class="controls ">#}
                                {#                                        <div class="input-group date bootstrap-datepicker"><span#}
                                {#                                                class="input-group-addon"><i class="fa fa-calendar"></i></span><input#}
                                {#                                                class="date-field admindatewidget form-control" id="id_pubDate"#}
                                {#                                                name="pubDate" size="10" type="text" value="{{ form.pubDate }}"/> <span#}
                                {#                                                class="input-group-btn"><button class="btn btn-default"#}
                                {#                                                                                type="button">今天</button></span></div><p id="hint_id_language" class="help-block">输入日期格式：2016/08/02</p>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <div id="div_id_contentLength" class="form-group"><label for="id_pubDate"
                                                                                         class="control-label  requiredField">
                                    出版时间
                                </label>
                                    <div class="controls ">
                                        <input value="{{ form.pubDate|date:"Y" }}" type="number"
                                               class="int-field adminintegerfieldwidget form-control"
                                               id="id_contentLength" name="pubdate" min="0" style="display:inline"
                                               onkeyup="value=value.replace(/[^\d]/g,'')"
                                               onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"
                                        /> 年
                                    </div>
                                </div>
                                <div id="div_id_contentLength" class="form-group"><label for="id_contentLength"
                                                                                         class="control-label ">
                                    页数
                                </label>
                                    <div class="controls "><input onkeyup="value=value.replace(/[^\d]/g,'')"
                                                                  onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"
                                                                  type="number"
                                                                  class="int-field adminintegerfieldwidget form-control"
                                                                  id="id_contentLength" name="contentLength" min="0"
                                                                  value="{{ form.contentLength }}"/></div>
                                </div>
                                <div id="div_id_uploadPeople" class="form-group"><label for="id_uploadPeople"
                                                                                        class="control-label  requiredField">
                                    文件上传人 </label>
                                    <div class="controls "><input
                                                                  class="text-field admintextinputwidget form-control"
                                                                  id="id_uploadPeople" maxlength="50"
                                                                  name="uploadPeople" type="text"
                                                                  value="{{ form.uploadPeople }}"/></div>
                                </div>
                                <div id="div_id_picture" class="form-group"><label for="id_picture"
                                                                                   class="control-label  requiredField">
                                    缩略图<span class="asteriskField">*</span> </label>
                                    <div class="controls "><a
                                            href="{{ picherf }}"
                                            target="_blank" title="缩略图" data-gallery="gallery"><img
                                            src="{{ picherf }}"
                                            class="field_img"/> </a><br/>更改： <input onchange="isValidateImage(this)"
                                                                                    id="id_picture" label="缩略图"
                                                                                    name="picture" type="file"/><font
                                            color="red">图片类型必须是.gif,jpeg,jpg,png,bmp,jpe,tiff,ico中的一种</font></div>
                                </div>
                                <div id="div_id_attachment" class="form-group"><label for="id_attachment"
                                                                                      class="control-label  requiredField">
                                    附 件<span class="asteriskField">*</span> </label>
                                    <div class="controls "><p class="file-upload">目前: <a target="_blank"
                                            href="{{ fileherf }} ">{{ form.attachment }}</a>
                                        <br/>修改: <input class="adminfilewidget" id="id_attachment" name="attachment"
                                                        type="file"/></p></div>
                                </div>
                                <div id="div_id_notes" class="form-group"><label for="id_notes" class="control-label ">
                                    备注
                                </label>
                                    <div class="controls "><input class="text-field admintextinputwidget form-control"
                                                                  id="id_notes" maxlength="200" name="notes"
                                                                  type="text" value="{{ form.notes }}"/></div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>


            </div>


            <div class="form-actions well well-sm clearfix">


                <div class="btn-group clearfix show-xs save-group col-xs-12">
                    <button type="submit" class="default btn btn-primary col-xs-10" name="_save"
                            data-loading-text="保存中.."/>
                    <i class="fa fa-save"></i>{% if sujectidd == -1 %} 保存 {% else %}下一步{% endif %} </button>
                    <button type="button" class="more btn btn-primary col-xs-2" data-toggle="collapse"
                            data-target=".nav-collapse.more-btns"><i class="fa fa-ellipsis-vertical"></i></button>
                </div>
                <button type="submit" class="default btn btn-primary hide-xs" name="_save"
                        data-loading-text="保存中.."/>
                <i class="fa fa-save"></i>{% if sujectidd == -1 %} 保存 {% else %}下一步{% endif %} </button>


            </div>
        </form>

    </div>
</div>


<div id="footer">
    <hr/>
    <footer class="text-center">
        <p>&copy; SiChuan University</p>
    </footer>
</div>


<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.sortable.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.main.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.responsive.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/load-image/load-image.js"></script>
<script type="text/javascript"
        src="/static/xadmin/vendor/bootstrap-image-gallery/js/bootstrap-image-gallery.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.portal.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.quick-form.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.widget.datetime.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.page.form.js"></script>


<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-image"><h1 class="loader"><i class="fa-spinner fa-spin fa fa-large loader"></i></h1>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info modal-prev"><i class="fa fa-arrow-left"></i> <span>上一个</span></a>
                <a class="btn btn-primary modal-next"><span>下一个</span> <i class="fa fa-arrow-right"></i></a>
                <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="fa fa-play"></i>
                    <span>幻灯片</span></a>
                <a class="btn btn-default modal-download" target="_blank"><i class="fa fa-download"></i> <span>下载</span></a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
dfasfafdsfa
<script>
    function isValidateImage(obj) {
        var extend = obj.value.substring(obj.value.lastIndexOf(".") + 1);
        if (extend == "") {
        }
        else {
            if (!/\.(gif|jpg|jpeg|png|bmp|jpe|tiff|ico|ICO|TIFF|JPE||BMP|GIF|JPG|PNG)$/.test(obj.value)) {
                alert("图片类型必须是.gif,jpeg,jpg,png,bmp,jpe,tiff,ico中的一种");
                obj.value = null;
                return false;
            }
        }
        return true;
    }
</script>
</body>
</html>
